{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Nodes</h1>
        <p>The app is focused on the locations in Black Desert Online, including how they are connected to one another as well as their utility.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Kingdoms</h2>
            <p>Kingdoms are the principle geographic divisions in Black Desert Online.<p>
            <p><a class="btn btn-secondary" href="{% url 'nodes:kingdoms:list' %}" role="button">See List &raquo;</a></p>
        </div>
        <div class="col">
            <h2>Territories</h2>
            <p>Territories are subdivions of Kingdoms and the smallest geographic divisions.<p>
            <p><a class="btn btn-secondary" href="{% url 'crafting:recipes:list' %}" role="button">See List &raquo;</a></p>
       </div>
        <div class="col">
            <h2>Nodes</h2>
            <p>Nodes are the primary locations through Black Desert Online. They are connected to other Nodes and typically contain Resources and/or Properties.<p>
            <p><a class="btn btn-secondary" href="{% url 'crafting:stations:list' %}" role="button">See List &raquo;</a></p>
       </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Resources</h2>
            <p>Resources are attached to a particular Node and represent a location where NPC workers can gather a <a href="{% url 'crafting:materials:list' %}">Material</a><p>
            <p><a class="btn btn-secondary" href="{% url 'crafting:stations:list' %}" role="button">See List &raquo;</a></p>
       </div>
        <div class="col">
            <h2>Properties</h2>
            <p>Properties are rentable buildings that are attached to a Node. They often contain crafting <a href="{% url 'crafting:stations:list' %}">Stations</a>.<p>
            <p><a class="btn btn-secondary" href="{% url 'crafting:stations:list' %}" role="button">See List &raquo;</a></p>
       </div>
    </div>
</div>
{% endblock content %}
