{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Nodes</h1>
        <p>The app is focused on the locations in Black Desert Online, including how they are connected to one another as well as their utility.</p>
    </div>
</div>

<div class="container pb-3">
    <div class="row pb-3">
        <div class="card-deck">
            <div class="card">
                <h2 class="card-header">Kingdoms</h2>
                <div class="card-block">
                    <p>Kingdoms are the principle geographic divisions in Black Desert Online.<p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" href="{% url 'nodes:kingdoms:list' %}" role="button">See List &raquo;</a>
                </div>
            </div>
            <div class="card">
                <h2 class="card-header">Territories</h2>
                <div class="card-block">
                    <p>Territories are subdivions of Kingdoms and the smallest geographic divisions.<p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" href="{% url 'nodes:territories:list' %}" role="button">See List &raquo;</a>
                </div>
           </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <h2 class="card-header">Nodes</h2>
                <div class="card-block">
                    <p>Nodes are the primary locations through Black Desert Online. They are connected to other Nodes and typically contain Resources and/or Properties.<p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" href="{% url 'nodes:nodes:list' %}" role="button">See List &raquo;</a>
                </div>
           </div>
            <div class="card">
                <h2 class="card-header">Properties</h2>
                <div class="card-block">
                    <p>Properties are rentable buildings that are attached to a Node. They often contain crafting <a href="{% url 'crafting:stations:list' %}">Stations</a>.<p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" href="{% url 'nodes:properties:list' %}" role="button">See List &raquo;</a>
                </div>
           </div>
        </div>
    </div>
</div>
{% endblock content %}
