{% extends 'nodes/detail.html' %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block details %}
<hr>
<div class="card-deck mb-3">
    <div class="card">
        <h4 class="card-header">Kingdom</h4>
        <div class="card-block">
            <a class="card-link" href="{% url 'nodes:kingdoms:detail' pk=object.territory.kingdom.pk %}">
                {{ object.territory.kingdom.name }}
            </a>
        </div>
    </div>
    <div class="card">
        <h4 class="card-header">Territory</h4>
        <div class="card-block">
            <a class="card-link" href="{% url 'nodes:territories:detail' pk=object.territory.pk %}">
                {{ object.territory.name }}
            </a>
        </div>
    </div>
    <div class="card">
        <h4 class="card-header">Manager</h4>
        <div class="card-block">
            {{ object.node_manager }}
        </div>
    </div>
    {# Hubs and Contribution Costs are mutually exclusive #}
    {% if object.is_hub %}
    <div class="card">
        <h4 class="card-header">Is Hub?</h4>
        <div class="card-block">
            <i class="fa fa-check"></i>
        </div>
    </div>
    {% else %}
    <div class="card">
        <h4 class="card-header">Cost</h4>
        <div class="card-block">
            {{ object.contribution_cost }}
        </div>
    </div>
    {% endif %}
</div>
<div class="card-deck mb-3">
    <div class="card">
        <h4 class="card-header">Connected Nodes</h4>
        <div class="card-block">
            <table class="table table-hover mb-0">
                <thead class="thead-default">
                    <tr>
                        <th>Node Name</th>
                        <th>Is Hub?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for node in object.connected_nodes.all %}
                    <tr onclick="window.location.assign('{% url 'nodes:nodes:detail' pk=node.id %}')">
                        <td>{{ node.name }}</td>
                        <td>
                            {% if node.is_hub %}
                            <i class="fa fa-check"></i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <h4 class="card-header">Resources</h4>
        <div class="card-block">
            <table class="table table-hover mb-0">
                <thead class="thead-default">
                    <tr>
                        <th>Material</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resource in object.resources.all %}
                    <tr onclick="window.location.assign('{% url 'crafting:materials:detail' pk=resource.material.id %}')">
                        <td>{{ resource.material.name }}</td>
                        <td>{{ resource.contribution_cost }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <h4 class="card-header">Properties</h4>
        <div class="card-block">
            <table class="table table-hover mb-0">
                <thead class="thead-default">
                    <tr>
                        <th>Name</th>
                        <th>Parent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for property in object.properties.all %}
                    <tr onclick="window.location.assign('{% url 'nodes:properties:detail' pk=property.id %}')">
                        <td>{{ property.name }}</td>
                        <td>{{ property.parent_property.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock details %}

{% block list-url %}
{% url 'nodes:nodes:list' %}
{% endblock %}
